extends ./layout

block content
  mj-column(width='100%')
    mj-text(font-size='16px')
      p
        span= 'DEAR ' 
        span= username + ' '
      p
        span= 'We received a request from you for registeration .'
        span= 'to complete registration you need to enter the bellow verification code :'
    mj-text(font-size='18px')
      p= token.verification.code
      mj-text(font-size='16px', color='crimson')
        p Your verification code expire at
    mj-text(font-size='18px')
      p= token.verification.expiredAt

    mj-text(font-size='16px')
      p
        span= 'Thank you again .'
